TELEGRAM_BOT_TOKEN=7905064832:AAHnorlc546pMYEaxiHxiw0112TvgFOgLDw
OPENAI_API_KEY=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
VITE_SUPABASE_URL=https://eurjvlwhyzhxgebjkiwc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV1cmp2bHdoeXpoeGdlYmpraXdjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDMyMDIxNDIsImV4cCI6MjA1ODc3ODE0Mn0.yf8m4PwciWJdyChwmDsfma2dD-q3wkpe70OwS0c_ri0